<?xml version="1.0"?>

<config>
	<!-- This defines the loging-file -->
	<loging filename="log.txt" />
	
	<!-- This defines the database -->
	<database driver="mysql" host="vmax2.marekventur.de" port="3306" user="myhome" password="myhome" database="myhome" />
	
	<!-- This configures the soap interface -->
	<soapinterface>
		<!-- At the moment nothing besides "http" is supported -->
		<binding protocol="http" port="8888" host="localhost" path="/service" />
		<!-- At the moment you can only use one interface -->
	</soapinterface>
	
	<!-- This describes all used plugins -->
	<nodeplugins>
		<!-- every nodeplugin is described here -->
		<nodeplugin namespace="de.wi08e.myhome.nodeplugins.enoceansimulator">
			<!-- There can be zero to many parameter tags -->
			<parameter>
				<key>title</key>
				<value>Wohnzimmer</value>	
			</parameter>
			
			<parameter>
				<key>left</key>
				<value>100</value>	
			</parameter>
			
			<parameter>
				<key>top</key>
				<value>100</value>	
			</parameter>
			
			<!-- There can be zero or one data tags-->
			<data>
				<!-- might be different for every plugin -->
				<node type="TwoRockerSwitch">
					<manufacturer>simulator</manufacturer>
					<id>ababab01</id>
					<title>Lichtschalter</title>
				</node>
				
				<node type="Relais">
					<manufacturer>simulator</manufacturer>
					<id>ababab02</id>
					<title>Licht 1</title>
					
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab01</id>
						<button>a</button>
					</trigger>
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab04</id>
						<button>b</button>
					</trigger>
					
				</node>
				
				<node type="Relais">
					<manufacturer>simulator</manufacturer>
					<id>ababab03</id>
					<title>Licht 2</title>
					
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab01</id>
						<button>b</button>
					</trigger>
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab04</id>
						<button>b</button>
					</trigger>
					
				</node>
				<!-- end of data tag -->
			</data>
		</nodeplugin>
		
		<nodeplugin namespace="de.wi08e.myhome.nodeplugins.enoceansimulator">
			<!-- There can be zero to many parameter tags -->
			<parameter>
				<key>title</key>
				<value>Küche</value>	
			</parameter>
			
			<parameter>
				<key>left</key>
				<value>400</value>	
			</parameter>
			
			<parameter>
				<key>top</key>
				<value>100</value>	
			</parameter>
			
			<!-- There can be zero or one data tags-->
			<data>
				<!-- might be different for every plugin -->
				<node type="TwoRockerSwitch">
					<manufacturer>simulator</manufacturer>
					<id>ababab04</id>
					<title>Lichtschalter</title>
				</node>
				
				<node type="Relais">
					<manufacturer>simulator</manufacturer>
					<id>ababab06</id>
					<title>Licht 1</title>
					
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab04</id>
						<button>a</button>
					</trigger>
					
				</node>
				
				<node type="Relais">
					<manufacturer>simulator</manufacturer>
					<id>ababab07</id>
					<title>Licht 2</title>
					
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab04</id>
						<button>a</button>
					</trigger>
					
				</node>
				
				<node type="Relais">
					<manufacturer>simulator</manufacturer>
					<id>ababab08</id>
					<title>Licht 3</title>
					
					<trigger>
						<manufacturer>simulator</manufacturer>
						<id>ababab04</id>
						<button>a</button>
					</trigger>
					
				</node>
				<!-- end of data tag -->
			</data>
		</nodeplugin>
		
		<!-- There might be some more plugins added here -->
	</nodeplugins>
</config>